## Build outputs
[Bb]in/
[Oo]bj/
[Rr]elease/
[Dd]ebug/

## Visual Studio temporary and user files
.vs/
*.user
*.userosscache
*.suo
*.sln.docstates
*.opendb
*.dbmdl

## Roslyn and MSBuild temporary files
*.tmp
*.cache
*.log

## Operating System files
Thumbs.db
Desktop.ini
.DS_Store